<form class="new-post-form">
  <br class="title">
    <span><a href="/post/{{id}}" target="_blank">{{title}}</a> Posted By {{user.username}} on {{format_date created_at}}</span>
  </div>
  <div class="post-text d-flex">
    <span>
      <p>{{post_text}}</p>
    </span>
  </div>
</form>
  {{!-- {{#if comments.length}}
  <section>
    <h3>Comments:</h3>
      <ul>
        {{#each comments as |comment|}}
        <li>
          {{> comments comment_text}}
        </li>
        {{/each}}
      </ul>
  </section>
  {{/if}}
</form> --}}

<script src="/js/post.js"></script>