<form class="new-post-form">
  <div class="title">
    <span><a href="/post/{{id}}" target="_blank">{{title}}</a> Posted By {{user.username}} on {{format_date created_at}}</span>
  </div>
  <div class="post-text">
    <p>{{post_text}}</p>
  </div>
  {{#if comments.length}}
  <section>
    <h3>Comments:</h3>
      <ul>
        {{#each comments as |comment|}}
        <li>
          {{> comments_text comment}}
        </li>
        {{/each}}
      </ul>
  </section>
  {{/if}}
</form>

<script src="/js/post.js"></script>