<form class="new-post-form">
  <div class="title">
    <span class="span-class">
      <a class="single-title" href="/post/{{id}}" target="_blank">{{title}}</a>
      <p class="user-post-info">Posted By {{user.username}} on {{format_date created_at}}</p>
    </span>
  </div>
  <div class="post-text">
    <span>
      <p class="single-post-text">{{post_text}}</p>
    </span>
  </div>
</form>
  {{!-- {{#if comments.length}}
  <section>
    <h3>Comments:</h3>
      <ul>
        {{#each comments as |comment|}}
        <li>
          {{> comments comment_text}}
        </li>
        {{/each}}
      </ul>
  </section>
  {{/if}}
</form> --}}

<script src="/js/post.js"></script>